<header>
  <div class="container">
    <div class="intro-text">
      <h2>John C. McLemore, PPLC</h2>
      <hr>
      <div>
        <h3 style="display: inline-block; padding-right: 20px;">Energy</h3><h3 style="display: inline-block; padding-right: 20px;">Focus</h3><h3 style="display: inline-block;">Expertise</h3>
      </div>
      <br>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 content-space">
      <h1>About Me</h1>
    </div>
  </div>
</div>