.navbar{
  background: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-brand{
    color: #000;
    font-weight: bold;
    font-size: 25px;
  }.navbar-right li > a{
    color: #000;
    font-size: 18px;
  }
} 